@font-face {
	font-family: "FuturaPTLight";
	src: url("../fonts/FuturaPTLight.eot");
	src: url("../fonts/FuturaPTLight.eot?#iefix") format("embedded-opentype"),
	url("../fonts/FuturaPTLight.woff") format("woff"), 
	url("../fonts/FuturaPTLight.ttf") format("truetype"), 
	url("../fonts/FuturaPTLight.svg?#webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "FuturaPTBook";
	src: url("../fonts/FuturaPTBook.eot");
	src: url("../fonts/FuturaPTBook.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/FuturaPTBook.woff") format("woff"), 
	url("../fonts/FuturaPTBook.ttf") format("truetype"),
	url("../fonts/FuturaPTBook.svg?#webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}

body{
	color: #444;
	background: #fff;
	font-family: 'FuturaPTLight';
}
ul,ol{
	padding-left: 0;
	list-style: none;
}
p{
	font-family: 'FuturaPTBook';
	color: #777;
	margin:0;
}
a{
	font-family: 'FuturaPTBook';
	color: #123456 !important;
}
a:hover{
	text-decoration: none;
}
.form-control:focus, .btn.focus, .btn:focus{
	box-shadow: none;
}
.text-white{
	color: #fff !important;
}
/*fullwidth overlay menu*/
.button_container {
	position: fixed;
	top: 3.5%;
	right: 2%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: opacity 0.25s ease;
}
.button_container:hover {
	opacity: 0.7;
}
.button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #FFF;
}
.button_container.active .middle {
	opacity: 0;
	background: #FFF;
}
.button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #FFF;
}
.button_container span {
	background: #fff;
	border: none;
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.35s ease;
	cursor: pointer;
}
.button_container span:nth-of-type(2) {
	top: 11px;
	width: 75%;
	right: 0;
	left: auto;
}
.button_container span:nth-of-type(3) {
	top: 22px;
}
#overlay{
	opacity: 1;
}
.overlay {
	position: fixed;
	background: rgba(1, 35, 69, 1);
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow: hidden;
	z-index: 2;
}
.overlay.open {
	opacity: 0.9;
	visibility: visible;
	height: 100%;
}
.overlay.open li {
	animation: fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
	animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
	animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
	animation-delay: 0.5s;
}
.overlay nav {
	position: relative;
	height: 70%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	font-weight: 400;
	text-align: center;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.overlay ul li {
	display: block;
	height: 25%;
	height: calc(100% / 7);
	min-height: 50px;
	position: relative;
	opacity: 0;
}
.overlay ul li a {
	/*display: block;*/
	position: relative;
	color: #FFF !important;
	text-decoration: none;
	overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	width: 100%;
}
.overlay ul li a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 2px;
	background: #FFF;
	transition: 0.35s;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
#header{
	position: relative;
}
#header .header-video-bg {
	position: relative;
	min-height: 100vh;
}
#header .header-video-bg video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
.header-video-bg .overlay.open{
	z-index: 2;
	position: absolute;
}
#header-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

#header-navbar a{
	color: #fff;
	font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'FuturaPTLight';
}
#header-navbar.fixed-top {
    background: #123456;
}
.large-logo{
    position: absolute;
    top: 50%;
    z-index: 9;
    left: 50%;
    width: 208px;
    height: 100px;
    margin-top: -50px;
    margin-left: -104px;
}
/*Page Bannar*/
.page-banner {
	background: url(../img/blog-banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 45vh;
	padding: 140px 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
}
.page-banner .overlay.open{
	position: absolute;
}
.page-banner .jumbotron{
	position: relative;
	padding: 0;
	margin:0;
	background: none;
	z-index: 5;
}
.page-banner .jumbotron h1{
	font-size: 3rem;
    letter-spacing: 6px;
}
.page-banner .jumbotron small{
	letter-spacing: 2px;
}
.section{
	padding: 80px 0;
}
.post-list h2{
	color: #1c1c1c;
}
.post-meta ul li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.85rem;
	padding: 0 10px;
	border-right: 1px solid #dbdbdb;
	line-height: 10px;
}
.post-meta ul li:first-child{
	padding-left: 0;
}
.post-meta ul li:last-child{
	border-right:none;
}
.post-meta ul li a{
	color: #adadad !important;
}
.post-meta ul li a:hover{
	text-decoration: none;
	color: #123456 !important;
}
.post-img img{
	width: 100%;
}
.post-content p:first-child:first-letter {
    font-size: 200%;
    line-height: 10px;
}
.post-content li{
	font-family: 'FuturaPTBook';
}

.search-form .input-group{
    border: 1px solid rgba(0,0,0,.1);
}
.search-form .input-group input{
	border:none;
	border-radius:0;
}

.search-form .input-group .input-group-btn .btn{
	border-radius: 0;
    background-color: transparent;
}
.widget-title{
    font-size: 1rem;
    font-family: 'FuturaPTBook';
}
.categories li{
	line-height: 2;
}

.categories li a{
	font-family: 'FuturaPTLight';
}

.sidebar .recent-post .recent-post-thumb {
    width: 80px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.sidebar .recent-post .recent-post-thumb img{
	width: 100%;
}
.sidebar .recent-post .recent-post-thumb + .post-title {
    width: calc(100% - 100px);
    overflow: hidden;
    height: 50px;
    display: block;
}
.footer{
	background: #123456;
	
}
.footer-logo a{
	font-size: 3rem;
}
.footer-logo a, .copy-right p{
	font-family: 'FuturaPTLight';
}
.blog-single-banner .jumbotron h1{
	font-size: 2.5rem;
}
.blog-single-banner .post-meta ul li a:hover{
	color: #fff !important;
}
.post-content ul{
	padding-left: 4rem;
}
.post-content ul li{
	list-style: disc;
}
.post-entry-actions ul li{
	display: inline-block;
}
.post-comment textarea, .post-comment button.btn{
	border-radius: 0;
}
.post-comment button.btn{
	background:#123456;
	border-color:#123456;
	font-size: 0.8rem;
	letter-spacing: 1px;
}
/*.post-comment button.btn:hover{
	background:transparent;
	color: #123456;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}*/
.guestpost_widget img, .pagination{
	width: 100%;
}