﻿
@{
    ViewBag.Title = "Blog Detail";
    Layout = "~/Views/Shared/_Layout_V2.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="post-list-wrap">
                            <div class="post-list mb-5">
                                <!-- <h2>Make Better Your Next Trip</h2> -->

                                <div class="post-entry-actions">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="mdi mdi-heart"></i> <span>32</span> likes</a></li>
                                        <li><a href="#"><i class="mdi mdi-share"></i> Share</a></li>
                                    </ul>
                                </div>

                                <div class="post-img">
                                    <img src="~/Content/v2/img/blog-1.jpg" alt="blog1">
                                </div>
                                <div class="post-content mt-4">
                                    <p><strong>Maple blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. </strong></p><br>

                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Sample blog post text.Sample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Sample blog post text. Sample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p><br>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Sample blog post text.Sample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Sample blog post text. Sample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p><br>
                                    <ul>
                                        <li>Magnis dis parturient montesnascetur ridiculus mus.</li>
                                        <li>Nullam id dolor id nibh ultriciesnascetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Donec sed odio dui, praesent commodo cursus magna.</li>
                                        <li>Vel scelerisque nisl consectetur et.Sample blog post text.</li>
                                    </ul><br>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p><br>

                                    <p><em>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Sample blog post text.</em></p>

                                </div>
                                <div class="post-entry-actions mt-3">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="mdi mdi-heart"></i> <span>32</span> likes</a></li>
                                        <li><a href="#"><i class="mdi mdi-share"></i> Share</a></li>
                                    </ul>
                                </div>

                                <div class="post-comment">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="commentTextarea" class="text-uppercase mb-1">Comment</label>
                                            <textarea class="form-control" id="commentTextarea" rows="5"></textarea>
                                        </div>

                                        <div class="form-group float-right">
                                            <button type="submit" class="btn btn-primary text-uppercase mb-2">Post Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="row">
                                <div class="pagination">
                                    <div class="col-md-6">
                                        <a href="#" class="float-left">
                                            Newer Posts
                                            <span class="d-block"><i class="mdi mdi-arrow-left"></i> Make Better Your Next Tri</span>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="#" class="float-right text-right">
                                            Older Posts
                                            <span class="d-block">Make Better Your Next Tri <i class="mdi mdi-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


