﻿
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_Layout_V2.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-list-wrap">
                            <div class="post-list mb-5">
                                <h2>Make Better Your Next Trip</h2>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#">sem lacinia</a></li>
                                        <li><a href="#">JAn 22, 2018</a></li>
                                        <li><a href="#">Travel</a></li>
                                    </ul>
                                </div>
                                <div class="post-img">
                                    <img src="~/Content/v2/img/blog-1.jpg" alt="blog1">
                                </div>
                                <div class="post-content mt-4">
                                    <p>Maple blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                    <a href="/blog/blog-single">Read More</a>
                                </div>
                            </div>

                            <div class="post-list mb-5">
                                <h2>Is The Modern House the perfect alternative to Rightmove?</h2>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#">sem lacinia</a></li>
                                        <li><a href="#">Jan 22, 2018</a></li>
                                        <li><a href="#">Inspiration</a></li>
                                    </ul>
                                </div>
                                <div class="post-img">
                                    <img src="~/Content/v2/img/blog-2.jpg" alt="blog2">
                                </div>
                                <div class="post-content mt-4">
                                    <p>Ample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                    <a href="/blog/blog-single">Read More</a>
                                </div>
                            </div>

                            <div class="post-list mb-5">
                                <h2>Make Better Your Next Trip</h2>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#">sem lacinia</a></li>
                                        <li><a href="#">JAn 22, 2018</a></li>
                                        <li><a href="#">Travel</a></li>
                                    </ul>
                                </div>
                                <div class="post-img">
                                    <img src="~/Content/v2/img/blog-1.jpg" alt="blog1">
                                </div>
                                <div class="post-content mt-4">
                                    <p>Ample blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                    <a href="/blog/blog-single">Read More</a>
                                </div>
                            </div>

                            <div class="post-list mb-5">
                                <h2>Is The Modern House the perfect alternative to Rightmove?</h2>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#">sem lacinia</a></li>
                                        <li><a href="#">Jan 22, 2018</a></li>
                                        <li><a href="#">Inspiration</a></li>
                                    </ul>
                                </div>
                                <div class="post-img">
                                    <img src="~/Content/v2/img/blog-2.jpg" alt="blog2">
                                </div>
                                <div class="post-content mt-4">
                                    <p>People blog post text. Cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultriciesnascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                    <a href="/blog/blog-single">Read More</a>
                                </div>
                            </div>

                            <div class="pagination float-right">
                                <!-- <a href="#" class="float-left">Newer Posts</a> -->
                                <a href="#" class="float-right">Older Posts <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 sidebar">
                        <aside class="widget search_widget">
                            <form role="search" class="search-form">
                                <div class="input-group">
                                    <input type="text" class="form-control pr-0" placeholder="Search" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn" type="submit">
                                            <i class="mdi mdi-magnify" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </aside>
                        <aside class="widget guestpost_widget mt-5">
                            <img src="~/Content/v2/img/guestpost.jpg" alt="guestpost">
                        </aside>

                        <aside class="widget category_widget mt-5">
                            <h3 class="widget-title text-uppercase">Categories</h3>
                            <ul class="categories">
                                <li><a href="#">Business <span class="float-right">(10)</span></a></li>
                                <li><a href="#">Software <span class="float-right">(25)</span></a></li>
                                <li><a href="#">Web Development <span class="float-right">(12)</span></a></li>
                                <li><a href="#">Android Apps <span class="float-right">(08)</span></a></li>
                                <li><a href="#">Web UI Design <span class="float-right">(35)</span></a></li>
                            </ul>
                        </aside>
                        <aside class="widget post_widget mt-5">
                            <h3 class="widget-title text-uppercase mb-3">Popular Posts</h3>
                            <div class="recent-posts">
                                <div class="recent-post mb-4">
                                    <a class="recent-post-thumb" href="/blog/blog-single">
                                        <img class="img-responsive" src="~/Content/v2/img/blog-1.jpg" alt="Post Title">
                                    </a>
                                    <a class="post-title" href="/blog/blog-single">Make Better Your Next Trip</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="recent-post mb-4">
                                    <a class="recent-post-thumb" href="/blog/blog-single">
                                        <img class="img-responsive" src="~/Content/v2/img/blog-2.jpg" alt="Post Title">
                                    </a>
                                    <a class="post-title" href="/blog/blog-single">Is The Modern House the perfect alternative to Rightmove?</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="recent-post mb-4">
                                    <a class="recent-post-thumb" href="/blog/blog-single">
                                        <img class="img-responsive" src="~/Content/v2/img/blog-1.jpg" alt="Post Title">
                                    </a>
                                    <a class="post-title" href="/blog/blog-single">Make Better Your Next Trip</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
