﻿@using reCAPTCHA.MVC
@model GaurikSystem.Models.ContactUsModel
@{
    ViewBag.Title = "Contact";
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<section class="breadcrumb section aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Contact Us</h2>
            </div>
        </div>
    </div>
</section><!-- Breadcrumb Area section End Here -->

<div class="inner-main-content">
    <div class="container">
        <div class="row section contact-details-wrap">
            <div class="col-lg-6 col-md-12 aos-item" data-aos="fade-right" data-aos-duration="1200">
                <div class="contact-address">
                    <h4 class="mb-3 text-uppercase">Contact Details</h4>
                    <address class="mb-2">
                        <strong>
                            <i class="fa fa-map-o fa-border mr-4 pull-left"></i>
                        </strong>
                        <p>
                            9602 57th Ave St #4J<br>
                            Corona, New York 11368
                        </p>
                    </address>

                    <div class="footer-fax mb-2">
                        <strong>
                            <i class="fa fa-fax fa-border mr-4 pull-left"></i>
                        </strong>
                        <p>
                            Email Details<br />
                            contact@gauriksystems.com
                        </p>
                    </div>

                    <div class="footer-phone mb-2">
                        <strong>
                            <i class="fa fa-phone fa-border mr-4 pull-left"></i>
                        </strong>
                        <p>
                            Feel Free to Call Us<br />
                            703-214-2848

                        </p>
                    </div>

                    <div class="contact-map">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127236.58313346568!2d-74.0988388643509!3d4.745155052328366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8f805d4e5beb%3A0x853611c42477c6f!2zVXNhcXXDqW4sIEJvZ290w6EsIEJvZ290YSwgQ29sb21iaWE!5e0!3m2!1sen!2snp!4v1518498686145" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div> <!-- Contact Map section End Here -->
                </div>
            </div>

            <div class="col-lg-6 col-md-12 aos-item" data-aos="fade-left" data-aos-duration="1200">
                <div class="contact-form-wrap">
                    <h4 class="mb-4 text-uppercase">Contact Us</h4>
                    @if (string.IsNullOrEmpty(ViewBag.Message))
                    {
                        using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="FirstName">First Name <span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                    @*<input type="text" class="form-control" id="FirstName">*@
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="LastName">Last Name</label> <br>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Email">E-mail address<span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Mobile">Mobile<span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="message">Your Message</label>
                                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Message)
                                </div>
                                <div class="form-group col-md-12" align="left">
                                    @Html.Recaptcha()
                                    @Html.ValidationMessage("ReCaptcha")
                                </div>
                                <div class="form-group col-md-12" align="right">
                                    <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                            <div class="row">
                                <h3>Your information has been successfully submitted. Please check junk message also for confirmation.</h3>
                            </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div><!-- inner-main-content -->
