﻿
@{
    ViewBag.Title = "Domain And Hosting";
}

<div class="services-details-page">

    <section class="breadcrumb section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Domain And Hosting</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->

    <section id="services" class="section services-transparent-bg services-domain-host">
        <div class="container">
            <div class="row">
                <div class="col-md-5 aos-item" data-aos="fade-right" data-aos-duration="800">
                    <div class="about-figure">
                        <figure>
                            <img class="img-fluid" src="/Content/img/domain-hosting.jpg" alt="domain-hosting">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="800">
                    <h3 class="text-uppercase mb-3">Domain And Hosting</h3>
                    <p>
                        Domain sets up your identity in the world of internet. Hosting is important part on developing website. When hosting trusted provider should be consider.
                        Your customer want to access their website anytime of the day and night. Any downtime means it is seen as unreliable and untrustworthy.
                    </p>
                </div>
            </div>
        </div>
    </section><!--End of services-->
    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold">Domain & Hosting Process</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Domain Name Registration</h4>
                                <p>
                                    Here our team will guide you and bring their constructive suggestion for picking the domain name and related services that comes with it.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Web Hosting</h4>
                                <p>
                                    Once you have the website design ready in order for everyone to access, it should be hosted in the provided environment. Our team will help to understand the directories, your details account information and your domain name servers.
                                    You can access your website only by using your domain name not by requested IP address.
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Website Upload</h4>
                                <p>
                                    Once the web host and DNS are ready you can start uploading your website.
                                    Our team will guide your through the entire process

                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="services-include-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Include</h2>
                    </div>
                </div>
            </div>
            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Domain registration  </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Web Hosting </li>
                    <li class="col-lg-4">
                        <i class="fa fa-check"></i> DNS Configuration
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--End of services-include-list-->

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->
   
    <!--<section id="services-include-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Includes</h2>
                    </div>
                </div>
            </div>

            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Quis nostrud exerci tationulla </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> La facilisis at vero </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Quis nostrud exerci corper suscipit</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Corper suscipit</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Tationulla corper suscipit </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Vero eros et accumsan </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Quis nostrud exerci</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Exerci tationulla corper suscipit </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Sorper suscipit </li>
                </ul>
            </div>
        </div>
        <section id="request-quote" class="section text-center" style="background:blue;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <p class="text-uppercase font-weight-bold">Consequatur modi adipisci voluptatem repellendus accusantium! Ad fuga, non odio animi est adipisci.</p>

                        <div class="request-quote-btn">
                            <a href="#" class="btn btn-primary text-uppercase">
                                Get A Quote
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>-->
    <!--End of services-include-list-->
</div>

