﻿
@{
    ViewBag.Title = "Mobile App Development";
}

<div class="services-details-page">
    <section class="breadcrumb section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Mobile App Development</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->
   <!--  <div class="container"><hr></div> -->
    <section id="services" class="section services-transparent-bg services-mobile-app">
        <div class="container">
            <div class="row">
                <div class="col-md-5 aos-item" data-aos="fade-right" data-aos-duration="800">
                    <div class="about-figure">
                        <figure>
                            <img class="img-fluid" src="/Content/img/mobile-app.jpg" alt="mobile-app">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="800">
                    <h3 class="text-uppercase mb-3">Mobile App Development</h3>
                    <p>
                        The demand and usage of mobile apps are increasing day by day. It is available to the clients all the time in their hand which can be direct marketing opportunity apart from having your brand recognition.
                        It can also act as the community platform among your user and also provide the real time data of your targeted user.
                        This will help you to stand ahead of competition by tailoring app to meet user needs increasing your services and sales.
                    </p>
                </div>
            </div>
        </div>
    </section><!--End of services-->
    @*<section id="services-include-list" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="text-uppercase font-weight-bold">Tools used</h2>
                        </div>
                    </div>
                </div>
                <div class="services-include-list">
                    <ul class="row">
                        <li class="col-lg-4"><i class="fa fa-check"></i> Xamarin Android/iOS </li>
                        <li class="col-lg-4"><i class="fa fa-check"></i> XCode </li>
                        <li class="col-lg-4">
                            <i class="fa fa-check"></i> Android Studio
                        </li>

                    </ul>
                </div>
            </div>
        </section><!--End of services-include-list-->*@
    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold"> Mobile App Development Services</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Concept</h4>
                                <p>
                                    Here we perform market research and learn need of the targeted user.
                                    Once we have information we establish the goal of the app. 
                                    The app can be used in multiple devices and multiple platforms yet maintaining the needs of the particular user.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Design</h4>
                                <p>
                                    Here we focus on look and feel and providing better user experience. 
                                    We decide which way the user interact in terms of the services and platform we are providing.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Development</h4>
                                <p>
                                    Here we choose the environment to for development. In most cases the apps are for multiple platform we develop based on the requirement for platform specific development.
                                    Apps should be efficient enough to provide the service conceived yet not keeping burden on the device processor.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-upload"></i>

                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Testing</h4>
                                <p>
                                    Here we focus on testing all requirements gather on first stage as well as testing for the performance. 
                                    Other areas of testing are operational testing, security testing, resource usage testing, compatibility testing and usability testing.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Launch</h4>
                                <p>
                                    Here we focus on bringing as many user as possible to use.
                                    We follow the industry trend for making sure our apps are ranked higher. We can also use the paid ads approach in the initial launch. We also design our apps for better ASP and SEO.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->
    <section id="services-include-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Include</h2>
                    </div>
                </div>
            </div>

            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Android App Development  </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> iOS App Development    </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Xamarin Andriod/iOS</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Search Engine Optimization</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> App Store Optimization </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Andriod Studio </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> E-commerce Apps </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Productivity Apps  </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Coredova </li>
                </ul>
            </div>
        </div>
    </section>

    
</div>