﻿
@{
    ViewBag.Title = "Portfolio";
}

<section class="breadcrumb section aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Portfolio</h2>
            </div>
        </div>
    </div>
</section><!-- Breadcrumb Area section End Here -->

<section id="portfolio" class="section">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2">
                <!-- <p class="text-center font-weight-bold mb-5">Architecto delectus enim, in adipisci ratione, perferendis excepturi suscipit eveniet cumque atque vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit tenetur at veniam!</p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/weidmann.jpg" alt="p-1">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Weidmann</h5>
                        <!-- <p class="card-text">Coffee manufacture company.</p> -->
                        <a href="https://www.kaffeemanufaktur-weidmann.de/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/isover.jpg" alt="p-2">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Isover</h5>
                        <!-- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="http://weihnachtschallenge.de/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/evps.jpg" alt="p-3">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">EVPS</h5>
                        <!-- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="http://eastvalleypediatricsociety.com/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/qc.jpg" alt="p-2">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">QC book Shop</h5>
                        <!-- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="http://qcbookshop.com/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/ww.jpg" alt="p-1">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Word Worrior</h5>
                        <!-- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="http://www.wordwarriorsnepal.com/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/blombac.jpg" alt="p-3">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Blombach CC</h5>
                        <!-- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="http://www.blombach.cc/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>

           <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/he.jpg" alt="p-1">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Healthy Elimination</h5>
                        <!--<p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> -->
                        <a href="https://healthyelimination.com/" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <!--  <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/p-3.jpg" alt="p-3">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Project 3</h5>
                        <!- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> ->
                        <a href="#" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card text-white mb-4">
                    <img class="card-img" src="~/Content/img/portfolio/p-2.jpg" alt="p-2">
                    <div class="card-img-overlay text-center">
                        <h5 class="card-title">Project 2</h5>
                        <!- <p class="card-text">Consequuntur velit quam impedit consectetur, fuga consequatur maiores voluptate, quia qui corporis.</p> ->
                        <a href="#" title=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div> -->


            <!-- <div class="portfolio-more text-center mt-3">
                <a class="btn btn-primary text-uppercase" href="portfolio.html">Load More</a>
            </div>-->
        </div>
    </div>
</section><!--End of services-->
