﻿@using reCAPTCHA.MVC
@model GaurikSystem.Models.QuoteModel
@{
    ViewBag.Title = "Quote";
    var date = "";
    if (Model != null && Model.Starttime.HasValue)
    {
        date = Convert.ToDateTime(Model.Starttime).ToShortDateString();
    }

    var States = new List<SelectListItem>()
{
new SelectListItem() {Text="--Select--", Value=""},
new SelectListItem() {Text="Alabama", Value="AL"},
new SelectListItem() { Text="Alaska", Value="AK"},
new SelectListItem() { Text="Arizona", Value="AZ"},
new SelectListItem() { Text="Arkansas", Value="AR"},
new SelectListItem() { Text="California", Value="CA"},
new SelectListItem() { Text="Colorado", Value="CO"},
new SelectListItem() { Text="Connecticut", Value="CT"},
new SelectListItem() { Text="District of Columbia", Value="DC"},
new SelectListItem() { Text="Delaware", Value="DE"},
new SelectListItem() { Text="Florida", Value="FL"},
new SelectListItem() { Text="Georgia", Value="GA"},
new SelectListItem() { Text="Hawaii", Value="HI"},
new SelectListItem() { Text="Idaho", Value="ID"},
new SelectListItem() { Text="Illinois", Value="IL"},
new SelectListItem() { Text="Indiana", Value="IN"},
new SelectListItem() { Text="Iowa", Value="IA"},
new SelectListItem() { Text="Kansas", Value="KS"},
new SelectListItem() { Text="Kentucky", Value="KY"},
new SelectListItem() { Text="Louisiana", Value="LA"},
new SelectListItem() { Text="Maine", Value="ME"},
new SelectListItem() { Text="Maryland", Value="MD"},
new SelectListItem() { Text="Massachusetts", Value="MA"},
new SelectListItem() { Text="Michigan", Value="MI"},
new SelectListItem() { Text="Minnesota", Value="MN"},
new SelectListItem() { Text="Mississippi", Value="MS"},
new SelectListItem() { Text="Missouri", Value="MO"},
new SelectListItem() { Text="Montana", Value="MT"},
new SelectListItem() { Text="Nebraska", Value="NE"},
new SelectListItem() { Text="Nevada", Value="NV"},
new SelectListItem() { Text="New Hampshire", Value="NH"},
new SelectListItem() { Text="New Jersey", Value="NJ"},
new SelectListItem() { Text="New Mexico", Value="NM"},
new SelectListItem() { Text="New York", Value="NY"},
new SelectListItem() { Text="North Carolina", Value="NC"},
new SelectListItem() { Text="North Dakota", Value="ND"},
new SelectListItem() { Text="Ohio", Value="OH"},
new SelectListItem() { Text="Oklahoma", Value="OK"},
new SelectListItem() { Text="Oregon", Value="OR"},
new SelectListItem() { Text="Pennsylvania", Value="PA"},
new SelectListItem() { Text="Rhode Island", Value="RI"},
new SelectListItem() { Text="South Carolina", Value="SC"},
new SelectListItem() { Text="South Dakota", Value="SD"},
new SelectListItem() { Text="Tennessee", Value="TN"},
new SelectListItem() { Text="Texas", Value="TX"},
new SelectListItem() { Text="Utah", Value="UT"},
new SelectListItem() { Text="Vermont", Value="VT"},
new SelectListItem() { Text="Virginia", Value="VA"},
new SelectListItem() { Text="Washington", Value="WA"},
new SelectListItem() { Text="West Virginia", Value="WV"},
new SelectListItem() { Text="Wisconsin", Value="WI"},
new SelectListItem() { Text="Wyoming", Value="WY"}
};

    var servicesList = new List<SelectListItem>()
{
new SelectListItem() {Text="--Select--", Value=""},
new SelectListItem() {Text="Website Design", Value="Website Design"},
new SelectListItem() { Text="Web Development", Value="Web Development"},
new SelectListItem() { Text="Software Development", Value="Software Development"},
new SelectListItem() { Text="Mobile App", Value="Mobile App"},
new SelectListItem() { Text="Search Engine Optimization", Value="Search Engine Optimization"},
new SelectListItem() { Text="Domain & Hosting", Value="Domain & Hosting"},
new SelectListItem() { Text="Social Media Marketing", Value="Social Media Marketing"}
};

    var webiteTypeList = new List<SelectListItem>()
{
new SelectListItem() {Text="--Select--", Value=""},
new SelectListItem() {Text="Personal/Blogs ", Value="Personal/Blogs"},
new SelectListItem() { Text="Small Businesses", Value="Small Businesses"},
new SelectListItem() { Text="Social Services", Value="Social Services"},
new SelectListItem() { Text="Mid/Large Scale Businesses", Value="Mid/Large Scale Businesses"}
};

}
@section css{
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#startTime').datepicker({
                autoclose: true
            });
            $("#Services").val('@Model.Services');
            $("#WebiteType").val('@Model.WebiteType');
        });
    </script>

}
<section class="breadcrumb section aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Request a Quote</h2>
            </div>
        </div>
    </div>
</section><!-- Breadcrumb Area section End Here -->

<section id="quote-form" class="section aos-item" data-aos="fade-up" data-aos-duration="1200">
    <div class="container">
        @if (string.IsNullOrEmpty(ViewBag.Message))
        {
            using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="quote-form-left quote-form-block">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <h3>Personal Details</h3>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="FirstName">First Name <span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="LastName">Last Name <span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="Email">Email address<span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="Mobile">Mobile<span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="Address">Address<span>*</span></label> <br>
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="Country">Country</label>
                                    <select id="Country" name="Country" class="form-control">
                                        <option selected value="USA">USA</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="Country">State</label>
                                    @Html.DropDownListFor(x => x.State, States, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.State)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="quote-form-right quote-form-block">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <h3>Interested Project Details</h3>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="Services">Services<span> *</span></label>
                                    @Html.DropDownListFor(x => x.Services, servicesList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Services)
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="startTime">Start time <span> *</span></label>
                                    <input type="text" id="startTime" name="startTime" value="@date" class="form-control" data-date-start-date="0d" />
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="WebiteType">Webite Type <span> *</span></label>
                                    @Html.DropDownListFor(x => x.WebiteType, webiteTypeList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WebiteType)
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="LastName">Ownership <span> *</span></label> <br>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsPersonalOwnership, "false", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="IsPersonalOwnership"> Corporate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.IsPersonalOwnership, "true", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="IsPersonalOwnership"> Personal</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.IsPersonalOwnership)
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="LastName">Domain Required? <span> *</span></label> <br>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.DomainRequired, "true", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="DomainRequired"> Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.DomainRequired, "false", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="DomainRequired"> No</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DomainRequired)
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="LastName">Hosting Required? <span> *</span></label> <br>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.HostingRequired, "true", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="DomainRequired"> Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.HostingRequired, "false", new { @class = "form-check-input" })
                                        <label class="form-check-label" for="DomainRequired"> No</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.HostingRequired)
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="requirement">Brief Description</label>
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @rows = "6" })
                                    @Html.ValidationMessageFor(model => model.Message)
                                </div>
                                <div class="form-group col-lg-12" align="left">
                                    @Html.Recaptcha()
                                    @Html.ValidationMessage("ReCaptcha")
                                </div>

                                <div class="form-group col-lg-12" align="right">
                                    <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <h3>Your information has been successfully submitted. Please check junk message also for confirmation.</h3>
            </div>
        }
    </div>
</section>


