﻿@{ ViewBag.Title = "searchengineoptimization";
}

<div class="services-details-page">
    <section class="breadcrumb section aos-item" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Search Engine Optimization</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->

    <section id="services" class="section services-transparent-bg services-seo">
        <div class="container">
            <div class="row">
                <div class="col-md-5 aos-item" data-aos="fade-right" data-aos-duration="800">
                    <div class="about-figure">
                        <figure>
                            <img class="img-fluid" src="/Content/img/seo.jpg" alt="SEO">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="800">
                    <h3 class="text-uppercase mb-3">Search Engine Optimization </h3>
                    <p>
                        SEO is very important part of your internet presence. Apart from bringing potential clients to you it can also act as mean of communication to the outside world. Almost all the content on the web can be found in extensive search our goal is make easier and faster to find your content. We at the time of inception to development, always bring SEO friendly words and content. We also provide separate SEO packages of already existing websites.
                    </p>


                </div>
            </div>
        </div>
    </section><!--End of services-->


    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold"> SEO Service Process</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Keyword Search</h4>
                                <p>
                                    This include finding out the most used word for search for your business or similar to yours. 
                                    We used proven tool and technique to understand the trend of words used. 
                                    This is critical and lengthy process and we consider this as a process then a project.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Goals and Report</h4>
                                <p>
                                    We can locate the position of your ranking in search and the traffic trend in the specific areas. We use tools provided to get information on bounce rates, keywords used by search engines, popular content, traffic level and the source of traffic. 
                                    We can see the progress of our approach to achieve the set goals in progress report.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Content Creation</h4>
                                <p>
                                    Our products and services are SEO friendly from the inception. 
                                    For the existing products we follow the SEO guidelines to maximize the ranking from creating high volume and high quality content to creating images, links and videos.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-upload"></i>

                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Web Page Optimization</h4>
                                <p>
                                    To provide the effective SEO results we need to completely understand how search engines operates. 
                                    Our team of expert follows those guidelines to make your pages visible.
                                    Some of the content on the page are search engine friendly then other like page title with your information, Site Maps, Meta data and clean pages with clear content than mixed with client side coding.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Media and Links</h4>
                                <p>
                                    Social media presence are increasing counting by the search engine crawler. 
                                    The sharing and the access of the content in social Medias are high. 
                                    This is one hand provides content to different audiences as well as sends incoming traffic to your page. 
                                    We can use different tools to get the information regarding inbound links.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->
    <section id="services-include-list" class="section aos-item" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Include</h2>
                    </div>
                </div>
            </div>
            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Keyword Research </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> On site/Off site Optimization </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Web Page Optimization</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i>SEO Reports</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Competitor Analysis </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Quality Link Building </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Mobile Optimization</li>
                </ul>
            </div>
        </div>
    </section><!--End of services-include-list-->

    
    
</div>
