﻿
@{
    ViewBag.Title = "Services";
}

<section class="breadcrumb section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Services</h2>
            </div>
        </div>
    </div>
</section><!-- Breadcrumb Area section End Here -->

@Html.Partial("_PartialServices")
<section id="request-quote" class="section text-center">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
            <div class="col-lg-6 col-md-8 col-sm-11">
                <small>Let's get started</small>
                <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                <p>We help businesses inovate and grow.</p>

                <div class="request-quote-btn">
                    <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--End of request-quote-->

