﻿
@{
    ViewBag.Title = "Software Development";
}

<div class="services-details-page">
    <section class="breadcrumb section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Software Development</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->

    <section id="services" class="section services-transparent-bg services-software-dev">
        <div class="container">
            <div class="row">
                <div class="col-md-5 aos-item" data-aos="fade-right" data-aos-duration="800">
                    <div class="about-figure">
                        <figure>
                            <img class="img-fluid" src="/Content/img/software-dev.jpg" alt="software-dev">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="800">
                    <h3 class="text-uppercase mb-3">Software Development</h3>
                    <p>
                        Software development tailored to reflect your uniqueness, strength and core values helps to derive business results.
                        Gaurik Systems works in different areas of software development weather it is enhancing existing applications, integrating to different environment or rewriting existing software for optimization and increasing productivity.
                        If you want to know more about the software and services we offer please contact us.

                    </p>


                </div>
            </div>
        </div>
    </section><!--End of services-->
    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold"> Software Service Process</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Intime Development</h4>
                                <p>
                                    Building from scratch or upgrading software, our team of experienced developer work very hard to deliver product or services in time.
                                    We implement the industries best approach in development having daily update of the process and including you in each cycle to ensure the quality and timely completion of the task.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Upgrade and Integration</h4>
                                <p>
                                    As the changing demand of consumer we have to constantly adopt the changes in our software. Our team of expert will be there along the way weather it is simply integrating third party tool or upgrading software while maintaining the existing services.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Domain Specific Development</h4>
                                <p>
                                    Internet or Intranet applications we can tailor software to meet your requirement.
                                    From simply having the different access privilege to bringing completely different interface based on the user specific needs.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-upload"></i>

                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Experience Meets Skills</h4>
                                <p>
                                    Effective use of IT Product and services plays vital role on achieving business goals.
                                    Our team of expert who have worked in different domains can bring your idea to reality and increase returns to the company.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Maintenance and Scalability</h4>
                                <p>
                                    The good software always have room for future changes and can cope with growth without effecting performance.
                                    We develop or customize our software and services to address the current need leaving the room for future changes to provide uninterrupted service to clients.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @*<section id="services-include-list" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="text-uppercase font-weight-bold">Tools used</h2>
                        </div>
                    </div>
                </div>
                <div class="services-include-list">
                    <ul class="row">
                        <li class="col-lg-4"><i class="fa fa-check"></i> C#, ASP.NET , ASP.NET MVC, ASP.NET CORE, PHP </li>
                        <li class="col-lg-4"><i class="fa fa-check"></i> MS-SL/ My SQL </li>
                        <li class="col-lg-4">
                            <i class="fa fa-check"></i> Ajax (Asynchronous JavaScript and XML)
                        </li>
                        <li class="col-lg-4">
                            <i class="fa fa-check"></i> CSS 3 (Cascading Style Sheets)
                        </li>
                        <li class="col-lg-4"><i class="fa fa-check"></i> HTML 5 </li>
                        <li class="col-lg-4">
                            <i class="fa fa-check"></i> DHTML (Dynamic Hyper Text Markup Language)
                        </li>
                        <li class="col-lg-4"><i class="fa fa-check"></i> Xamarin Android/iOS</li>
                    </ul>
                </div>
            </div>
        </section><!--End of services-include-list-->*@

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->
    <section id="services-include-list" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Include</h2>
                    </div>
                </div>
            </div>

            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Project Consultation  </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Internet and Intranet Applications </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> .Net Technologies</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Cross Platform App Development</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Customizing Existing Applications</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Upgrades and Patches </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Software Maintenance and Support</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Software Migration </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> SQL Server Database</li>
                </ul>
            </div>
        </div>
        
    </section><!--End of services-include-list-->


</div>