﻿
@{
    ViewBag.Title = "Web Development";
}

<div class="services-details-page">
    <section class="breadcrumb section aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Web And Application Development</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->



    <section id="services" class="section services-transparent-bg services-web-dev">
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <div class="about-figure aos-item" data-aos="fade-right" data-aos-duration="1200">
                        <figure>
                            <img class="img-fluid" src="/Content/img/web-develop.jpg" alt="web-develop">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="1200">
                    <h3 class="text-uppercase mb-3">Web Development</h3>
                    <p>
                        Web development is much more than creating a website for once and yielding the result expected. The major part of the web development is customization, maintenance and continuous improvement for ease of use and better result .Our team of developer makes sure the products are optimized, scalable and secure. With the team of expert at Gaurik Systems we can provide the in-house customization to meet all areas of requirement and also can integrate other technology available in market to obtain better result.
                    </p>
                </div>
            </div>
        </div>
    </section><!--End of services-->

    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold"> Web & App Development Process</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Planning</h4>
                                <p>
                                    In web and application development planning is the most important step some expert even come to conclusion that planning is more important than development itself. Here we discuss about the technology and resources that we are going to use, the architecture of the development and analysis of the gathered requirements.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Design</h4>
                                <p>
                                    Once we have our design ready we continuously reach out for your feedback. So we can bring the product that you wanted at the deadline we set.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Development</h4>
                                <p>
                                    This is the step where actual coding starts. We implement the industries best approach in development. That provide us the daily update in the development process and also bring stakeholder in loop so any changes can be adopted in initial stage which in turn will help in time completion of task.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-upload"></i>

                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Test</h4>
                                <p>
                                    Testing are done along the way of development. After development is done we go throw another stage of full testing. Testing helps to catch error and stops from breaking before it reaches the users. In this stage we also do the business and performance testing.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Deploy</h4>
                                <p>
                                    This is the final phase of development process. This is when client is handed the product and we look forward for the customer review. If any unprecedented bugs or errors are thrown that are fixed and smooth user experience is achieved.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Maintenance</h4>
                                <p>
                                    Often times products or services needs to be upgraded or integrated with new system. Our team of expert will help you to provide continues service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->

    <section id="services-include-list" class="section aos-item" data-aos="fade-up" data-aos-duration="1200">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">SERVICES INCLUDE</h2>
                    </div>
                </div>
            </div>

            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i>Internet and Intranet Solutions </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Upgrade and Integrations </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> .Net Technologies</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Highly Customized Web Portals </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Tailor Made E-Commerce Solutions </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> SQL Server Database </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Payment Process Integrations </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Content Management Systems</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Knockout/AngularJS </li>
                </ul>
            </div>
        </div>
    </section><!--End of services-include-list-->

    
</div>


