﻿
@{
    ViewBag.Title = "websitedesign";
}

<div class="services-details-page">
    <section class="breadcrumb section aos-item" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">Website Design</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->

    <section id="services" class="section services-transparent-bg services-web-design">
        <div class="container">
            <div class="row">
                <div class="col-md-5 aos-item" data-aos="fade-right" data-aos-duration="800">
                    <div class="about-figure">
                        <figure>
                            <img class="img-fluid" src="/Content/img/service-detail.jpg" alt="Gaurik">
                        </figure>
                    </div>
                </div>

                <div class="col-md-7 aos-item" data-aos="fade-left" data-aos-duration="800">
                    <h3 class="text-uppercase mb-3">Affordable Design & Development</h3>
                    <p>
                        @*<strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam er at volutpat. Ut wisi enim ad minim veniam.</strong><br><br>*@
                        <!--Website design is an essential aspect of online presence and marketing plan. We are a professional and creative website designer and we create a page that the target market can relate to. If you are in search of an effective website designer layout the Gaurik system is the right choice for you. Most people rely on the web for their communications, information, shopping, social life and more. The demand for web designers has been growing rapidly and the industry is currently considered a good one with relation to job prospects and future growth.-->
                        Website design is an essential aspect of online presence and marketing plan. We are a professional and creative website designer and we create a page that the target market can relate to. If you are in search of an effective website designer Gaurik Systems is the right choice for you. Our design focus on providing great user experience, look and feel that you like and effective to meet the targeted result.
                    </p>


                </div>
            </div>
        </div>
    </section><!--End of services-->
    <!-- <div class="container"><hr></div> -->

    <section id="service-process-wrap" class="section">
        <div class="container">

            <h2 class="project-name text-center text-uppercase font-weight-bold">Design Process</h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="service-process">
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Requirement Gathering</h4>
                                <p>
                                    Discussion of how final product should look like. Making sure to bring all the aspect of businesses.
                                    As any missing aspect in later stages can crate delay.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Inquire Industry Trend</h4>
                                <p>
                                    Once we have requirement, we do comprehensive research and provide our creative suggestion and support until you get to conclusion.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Design</h4>
                                <p>
                                    Once we have our design ready we continuously reach out for your feedback. So we can bring the product that you wanted at the deadline we set.
                                </p>
                            </div>
                        </div>

                        <div class="service-process-item aos-item" data-aos="fade-left" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-upload"></i>

                            </div>
                            <div class="service-process-content right">
                                <h4 class="font-weight-bold">Performance Testing</h4>
                                <p>
                                    To make sure our design are working as we expected we perform rigorous testing. We make our design to be accessible cross platform.
                                </p>
                            </div>
                        </div>
                        <div class="service-process-item aos-item" data-aos="fade-right" data-aos-duration="800">
                            <div class="service-process-icon">
                                <i class="fa fa-keyboard-o"></i>

                            </div>
                            <div class="service-process-content">
                                <h4 class="font-weight-bold">Deploy</h4>
                                <p>
                                    Once the design meet our requirement and performs as expected. The design is deployed and make available for everyone to excess.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->

    <section id="services-include-list" class="section aos-item" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="text-uppercase font-weight-bold">Services Include</h2>
                    </div>
                </div>
            </div>

            <div class="services-include-list">
                <ul class="row">
                    <li class="col-lg-4"><i class="fa fa-check"></i> Design from Scratch</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Website Redesign </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> HTML/CSS</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Optimized Design</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> Search Engine Friendly Design </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i>  Bootstrap </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i>Cross Platform Compatible</li>
                    <li class="col-lg-4"><i class="fa fa-check"></i>Responsive Design </li>
                    <li class="col-lg-4"><i class="fa fa-check"></i> JavaScript/JQuery</li>
                </ul>
            </div>
        </div>
           
    </section><!--End of services-include-list-->    

</div>
