﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <link rel="stylesheet" href="~/Content/v2/css/bootstrap.min.css">

    <!-- Material Design Icon -->
    <link href="~/Content/v2/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/v2/css/style.css">

</head>
<body class="aos-all">
    <header id="header" class="header">
        <nav id="header-navbar" class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/">Gaurik Systems</a>

                <div class="button_container" id="toggle">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>

                <div class="overlay" id="overlay">
                    <nav class="overlay-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Request a Quote</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav><!-- End of Navbar -->

        <div class="header-banner-bg page-banner blog-banner">
            <div class="overlay open"></div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1 class="page-title text-center text-uppercase text-white">Blog</h1>
                            <small class="text-white text-uppercase">Ratione cupiditate quasi consectetur incidunt eveni</small>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End of Video banner -->
    </header><!-- End of Header -->

    <main class="main-content">
        @RenderBody()
       
    </main><!-- body-content -->

    <footer class="footer section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content text-center">
                        <div class="footer-logo">
                            <a href="#" class="text-white">Gaurik Systems</a>
                        </div>
                        <div class="copy-right">
                            <p class="text-white">Copyright © 2018 All rights reserved. <!-- <a href="index.html">Gaurik Systems</a> --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer><!--End of footer-->

    <script src="~/Content/v2/js/jquery-2.0.2.js"></script>
    <script src="~/Content/v2/js/bootstrap.min.js"></script>
    <script src="~/Content/v2/js/custom.js"></script>
</body>
</html>