﻿@using GaurikSystem.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gaurik System</title>
    <link rel="icon" href="/Content/img/favicon.png" type="image/gif">
    @Styles.Render("~/Content/cssMain")
    @Scripts.Render("~/bundles/modernizr")
     @RenderSection("css", required: false)
</head>
<body class="aos-all">

    <header id="header" class="header" role="banner">
        <div class="container">
            <div id="logo" class="pull-left">
                <a href="/"><img src="~/Content/img/logo.png" alt="Gaurik Systems" /></a>
            </div>

            <nav id="menu" class="pull-right">
                <label for="tm" id="toggle-menu"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="tm">
                <ul class="main-menu clearfix">
                    <li class="nav-item @Html.IsActiveMenu("Home", "Index")">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item @Html.IsActiveMenu("Home", "About")">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="sub-menu-parent">
                      
                            <!-- <a class="nav-link" href="/services">Services</a> -->
                           
                        <a href="/services">Services 
                        <span class="drop-icon"><i class="fa fa-angle-down"></i></span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm1"><i class="fa fa-angle-down"></i></label>
                        </a>
                        
                        <input type="checkbox" id="sm1">
                        <ul class="sub-menu" >
                            <li class="sub-menu-parent">
                                <a href="/services/websitedesign">
                                    Website Design
                                    <span class="drop-icon"><i class="fa fa-angle-down"></i></span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"><i class="fa fa-angle-down"></i></label>
                                </a>
                                <input type="checkbox" id="sm2">
                                <ul class="sub-menu">
                                    <li><a href="/services/websitedesign">Dynamic Websites</a></li>
                                    <li><a href="/services/web-development">Custom Designed Websites</a></li>
                                    <li><a href="/services/web-development">Web site redesign</a></li>
                                    <li><a href="/services/web-development">Ecommerce website</a></li>
                                    <li><a href="/services/web-development">CMS Website</a></li>
                                    <li><a href="/services/web-development">Website Maintenance and support</a></li>
                                </ul>
                            </li>
                            <li><a href="/services/web-development">Web Development</a></li>
                            <li><a href="/services/software-development">Software Development</a></li>
                            <li><a href="/services/mobileapp">Mobile App</a></li>
                            <li><a href="/services/searchengineoptimization">Search Engine Optiomization</a></li>
                            <li><a href="/services/domainandhosting">Domain & Hosting</a></li>
                            <li><a href="/services/socialmediamarketing">Social Media Marketing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item @Html.IsActiveMenu("Home", "Portfolio")">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item @Html.IsActiveMenu("Home", "Quote")">
                        <a class="nav-link" href="/quote">Request a Quote</a>
                    </li>
                    <li class="nav-item @Html.IsActiveMenu("Home", "Blog")">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="nav-item @Html.IsActiveMenu("Home", "Contact")">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    @if (Request.IsAuthenticated)
    {
                <li class="nav-item">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
                @*@Html.AntiForgeryToken()*@
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    Sign out
                </a>

}
                </li>

}
else
{
                <li >
                    <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                </li>
}
                </ul>
            </nav>
        </div>
    </header><!-- End of Header -->
    <div class="body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="company-address">
                            <h3>Contact Details</h3>
                            <p>
                                9602 57th Ave St #4J<br>
                                Corona, New York 11368
                            </p>
                            <p><strong>Phone:</strong> 703-214-2848</p>
                            <p><strong>Email:</strong><a href="mailto:contact@gauriksystems.com"> contact@gauriksystems.com</a></p>
                            <p><strong>Support:</strong><a href="mailto:support@gauriksystems.com"> support@gauriksystems.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="company-services">
                            <h3>Services</h3>

                            <a href="/services/web-development">Website Design</a>
                            <a href="/services/web-development">Web Development</a>
                            <a href="/services/web-development">Software Development</a>
                            <a href="/services/web-development">Mobile App</a>
                            <a href="/services/web-development">Search Engine Optiomization</a>
                            <a href="/services/web-development">Domain & Hosting</a>
                            <a href="/services/web-development">Social Media Marketing</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="company_address">
                            <h3>Follow Us On</h3>
                            <div class="footer-social">
                                <ul>
                                    <li class="social-fb">
                                        <a href="#">
                                            <i class="fa fa-border fa-facebook"></i>
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li class="social-twt">
                                        <a href="#">
                                            <i class="fa fa-border fa-twitter"></i>
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li class="social-insta">
                                        <a href="#">
                                            <i class="fa fa-border fa-instagram"></i>
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                    <li class="social-yt">
                                        <a href="#">
                                            <i class="fa fa-border fa-youtube"></i>
                                            <span>Youtube</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!--End of Footer Social-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-content">
                            <div class="copy-right-text text-center">
                                <p>Copyright © @DateTime.Now.Year All rights reserved. <a href="index.html">Gaurik Systems</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer><!--End of footer-->

    <a id="back-to-top" href="#" class="fixed-icon-btn" title="Return to the top"><span class="fa fa-arrow-up"></span></a>
    <a id="mble-message" href="http://gauriksystems.com/contact" class="fixed-icon-btn mble-message" title="Message"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
    <style>
        .field-validation-error {
            color: red;
            font-size:12px;
        }
    </style>
</body>
</html>
