﻿<section id="services">
    <div class="service-blocks">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-laptop"></i>
                            <h5 class="card-title">Website Design</h5>
                            <p class="card-text">Website design is an essential aspect of online presence and marketing plan</p>
                            <a href="/services/website-design" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-database"></i>
                            <h5 class="card-title">Web Development</h5>
                            <p class="card-text">Web development is more than creating a website for once and yielding results.</p>
                            <a href="/services/web-development" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-code"></i>
                            <h5 class="card-title">Software Development</h5>
                            <p class="card-text">Software tailored to reflect your uniqueness, strength and core values helps to achieve business goals </p>
                            <a href="/services/software-development" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-mobile"></i>
                            <h5 class="card-title">Mobile App</h5>
                            <p class="card-text">We are expert in conveying superior and versatile portable applications in both Android and iOS. </p>
                            <a href="/services/mobile-app" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-star"></i>
                            <h5 class="card-title">Search Engine Optimization</h5>
                            <p class="card-text">Search Engine Optimization is the powerful means of communication for a company to reach to their customers</p>
                            <a href="/services/searchengineoptimization" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center aos-item" data-aos="zoom-in-up" data-aos-duration="800">
                        <div class="card-body">
                            <i class="fa fa-2x fa-border mb-2 fa-globe"></i>
                            <h5 class="card-title">Domain & Hosting</h5>
                            <p class="card-text">Domains sets up your identity in the world of internet. Hosting is important part on developing website</p>
                            <a href="/services/domain-and-hosting" class="btn btn-primary text-uppercase font-weight-light">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End of services-->

