﻿@{
    ViewBag.Title = "About";
}
<div class="inner-page-wrap">
    <section class="breadcrumb section aos-item" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title text-center text-uppercase">About Us</h2>
                </div>
            </div>
        </div>
    </section><!-- Breadcrumb Area section End Here -->

    <section class="about-us section">
        <div class="container">
            <div class="row">
                <div class="about-content">
                    <div class="about-content-image aos-item" data-aos="fade-left" data-aos-duration="800">
                        <img class="img-fluid pull-right" src="/Content/img/about.jpg" alt="Gaurik">
                    </div>
                    <div class="about-content-text aos-item" data-aos="fade-right" data-aos-duration="800">
                        @*<h3 class="text-uppercase mb-3">A History of Success</h3>*@
                    
                        <h3>Our Philosophy</h3>

                        <p>Our philosophy is to provide world class product and services to all our clients that are creative and easy to use without compromising client’s core value. We aspire to use cutting edge technology to deliver product and services that are platform independent, interactive and user friendly.</p>
                    
                        <h3> Our Approach</h3>

                        <p>Our team of expert will provide the creative suggestion and support until clients reach to the conclusion of the exact product or services required. We provide excellent customer service and work to fixed deadlines. We believe that a happy team makes for better creativity, our philosophy encourages the values of honesty an integrity amongst team members by creating supportive and transparent work culturw within the company. Some processes in our approach are....</p>

                        <ul class="row">
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-list-alt fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Requirements</strong><br>
                                        <p>Understanding the features and design of the expected product or services. Deciding the deadline, cost structure and scheduling maintenance.</p>
                                    </div>
                                </div>
                                
                            </li>

                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-thumb-tack fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Planning</strong><br>
                                        <p>Once decided the kind of product of service required. We will define the steps required to implement.</p>
                                    </div>
                                </div>
                                
                            </li>

                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-laptop fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Design/Architecture</strong><br>
                                        <p>Proper design helps to divide workload and estimate the completion of task.</p>
                                    </div>
                                </div>
                                
                            </li>
                            
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-desktop fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Development</strong><br>
                                        <p>We follow the industry standard development process. Our team of developer make sure the performance are optimized, fast and secure</p>
                                    </div>
                                </div>
                                
                            </li>

                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-lightbulb-o fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Testing/Debugging</strong><br>
                                        <p>Once the development is done and all requirement are addressed. We perform testing to ensure the quality and performance.</p>
                                    </div>
                                </div>
                                
                            </li>
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-upload fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Deploy</strong><br>
                                        <p>Once the testing is complete the product is delivered.</p>
                                    </div>
                                </div>
                                
                            </li>
                             <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-cog fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Maintenance</strong><br>
                                        <p>Often times products or services needs to be upgraded or integrated with new system. Our team of expert will help you to provide continues service.</p>
                                    </div>
                                </div>
                                
                            </li>
                        </ul>

                        <h3> Our Priorities</h3>
                        <ul class="row">
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-sun-o fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Uniqueness</strong><br>
                                        <p>Product and services that will address uniqueness of your project.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-edit fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Client Control</strong><br>
                                        <p>Clients can decide the level of control they want  for the product and services</p>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="list-bg-wrap">
                                    <div class="list-icon mr-3 pull-left">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                    <div class="about-list-text">
                                        <strong>Timely Completion</strong><br>
                                        <p>Implementing industry standard design and development process to ensure timely completion of the task.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                        
                </div>
            </div>
        </div>
    </section><!-- about-us -->

    <section id="request-quote" class="section text-center">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
                <div class="col-lg-6 col-md-8 col-sm-11">
                    <small>Let's get started</small>
                    <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                    <p>We help businesses inovate and grow.</p>

                    <div class="request-quote-btn">
                        <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End of request-quote-->

    <!--
    <section class="why-choose-us-wrap section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="why-choose-us aos-item" data-aos="fade-right" data-aos-duration="1200">
                        <h4 class="text-uppercase mb-3">Why Choose Us?</h4>
                        <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam er at volutpat. Ut wisi enim ad minim veniam.</strong></p>

                        <ul class="mt-5">
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-check fa-3x fa-border"></i>
                                </div>

                                <strong>Consectetuer adipiscing elit</strong><br>
                                Sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam er at volutpat. Ut wisi enim ad minim veniam.
                            </li>
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-check fa-3x fa-border"></i>
                                </div>
                                <strong>Consectetuer adipiscing elit</strong><br>
                                Sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam er at volutpat. Ut wisi enim ad minim veniam.
                            </li>
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-check fa-3x fa-border"></i>
                                </div>
                                <strong>Consectetuer adipiscing elit</strong><br>
                                Sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam er at volutpat. Ut wisi enim ad minim veniam.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <figure class="figure aos-item" data-aos="fade-left" data-aos-duration="1200">
                        <img class="img-fluid" src="~/Content/img/why-us.jpg" alt="why Us">
                    </figure>
                </div>
            </div>
        </div>
    </section> -->	<!-- Why CHoose Us -->
    <section class="our-mission section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-title text-center aos-item" data-aos="fade-up" data-aos-duration="800">
                        <h2 class="text-uppercase font-weight-bold mb-20">Our Mission</h2>
                        <!-- <small>About Us</small> -->
                        <p>We thrive to deliver world class service to our clients. Design that will address uniqueness of your project and doesn’t compromise on your core values. Whether you are well established entity, a small business, organization that you to redesign your existing websites or a young startup. We will work with you to bring your presence to the world of internet.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="our-mission-list aos-item" data-aos="fade-right" data-aos-duration="1200">
                        <ul>
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-lightbulb-o fa-2x"></i>
                                </div>
                                <strong>Unshaken values</strong><br>
                                <p>It is very easy for design and development to go wrong on representing what your core values are. We are here to hear your distinct ideas and take on challenge to present unshaken values.</p>
                            </li>
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-star-o fa-2x"></i>
                                </div>
                                <strong>Solid Workflow</strong><br>
                                <p>It is easy for design and development to exceed the estimated delivery date. It is the greatest challenge of the design and development world today. Our team of expert uses proven approach of development and always aspire to keep you in loop in each stage ensuring the completion of task in timely manner.</p>
                            </li>
                            <li class="mb-4">
                                <div class="list-icon mr-3 pull-left">
                                    <i class="fa fa-briefcase fa-2x"></i>
                                </div>
                                <strong>Excellent support team: </strong><br>
                                <p>Our support forum is available 24 hours .We are committed to solve any issue within 48 hours.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <figure class="figure aos-item" data-aos="fade-left" data-aos-duration="1200">
                        <img class="img-fluid" src="~/Content/img/mission.jpg" alt="mission">
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>