﻿@{
    ViewBag.Title = "Home Page";
}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5ac3961bd7591465c70926de/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<section id="banner-slider" class="banner-slider">
    <div id="gaurikcarousel" class="carousel slide gaurikcarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#gaurikcarousel" data-slide-to="0" class="active"></li>
            <li data-target="#gaurikcarousel" data-slide-to="1"></li>
            <li data-target="#gaurikcarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/img/banner/1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/img/banner/2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/img/banner/3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#gaurikcarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#gaurikcarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section><!-- End of banner -->

<section id="intro" class="section">
    <div class="container">
        <div class="row justify-content-center aos-item" data-aos="zoom-in" data-aos-duration="800">
            <div class="col-lg-9 col-md-12">
                <div class="section-title text-center">
                    <small>One stop for your Internet Presence</small>
                    <h2 class="text-uppercase fs-40">Your website is your most powerful tool for communication</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center aos-item" data-aos="fade-up" data-aos-duration="800">
            <div class="col-lg-8 col-md-12">
                <div class="intro-content text-center">
                    <p>Our team of expert will help to share your passion for sports, sell products or any other services that you are operating.</p>
                    <a class="btn btn-primary text-uppercase font-weight-light" href="services/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <br><br>
    <div class="container aos-item" data-aos="fade-up" data-aos-duration="800">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="text-uppercase font-weight-bold">Our Services</h2>
                    <p>We offer variety of services. Please pick the services you are interested .Not sure what service to pick or doesn’t see listed below give us a call we might be able to <a href="/contact">assist</a> you.</p>
                </div>
            </div>
        </div>
    </div> -->
</section> <!--End of Intro-->
<section id="services">
    <div class="container aos-item" data-aos="fade-up" data-aos-duration="800">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="text-uppercase font-weight-bold">Our Services</h2>
                    <p>We offer variety of services. Please pick the services you are interested .Not sure what service to pick or doesn’t see listed below give us a call we might be able to <a href="/contact">assist</a> you.</p>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PartialServices")

</section><!--End of services-->

<section id="request-quote" class="section text-center">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="800">
            <div class="col-lg-6 col-md-8 col-sm-11">
                <small>Let's get started</small>
                <h5 class="text-uppercase font-weight-bold">Great Website Adds Great Value</h5>
                <p>We help businesses inovate and grow.</p>

                <div class="request-quote-btn">
                    <a href="#" class="btn btn-primary text-uppercase">Get A Quote Now <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section> <!--End of request-quote-->

<section class="our-mission section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center aos-item" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="text-uppercase font-weight-bold mb-20">Our Mission</h2>
                    <!-- <small>About Us</small> -->
                    <p>We thrive to deliver world class service to our clients. Design that will address uniqueness of your project and doesn’t compromise on your core values. Whether you are well established entity, a small business, organization that you to redesign your existing websites or a young startup. We will work with you to bring your presence to the world of internet.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="our-mission-list aos-item" data-aos="fade-right" data-aos-duration="1200">
                    <ul>
                        <li class="mb-4">
                            <div class="list-icon mr-3 pull-left">
                                <i class="fa fa-lightbulb-o fa-2x"></i>
                            </div>
                            <div class="mission-list-text">
                                <strong>Unshaken values</strong><br>
                                <p>It is very easy for design and development to go wrong on representing what your core values are. We are here to hear your distinct ideas and take on challenge to present unshaken values.</p>
                            </div>
                            
                        </li>
                        <li class="mb-4">
                            <div class="list-icon mr-3 pull-left">
                                <i class="fa fa-star-o fa-2x"></i>
                            </div>
                            <div class="mission-list-text">
                                <strong>Solid Workflow</strong><br>
                                <p>It is easy for design and development to exceed the estimated delivery date. It is the greatest challenge of the design and development world today. Our team of expert uses proven approach of development and always aspire to keep you in loop in each stage ensuring the completion of task in timely manner.</p>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="list-icon mr-3 pull-left">
                                <i class="fa fa-briefcase fa-2x"></i>
                            </div>
                            <div class="mission-list-text">
                                <strong>Excellent support team: </strong><br>
                                <p>Our support forum is available 24 hours .We are committed to solve any issue within 48 hours.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            @*  *@
            <div class="col-lg-6 col-md-12">
                <figure class="figure aos-item" data-aos="fade-left" data-aos-duration="1200">
                    <img class="img-fluid" src="~/Content/img/mission.jpg" alt="mission">
                </figure>
            </div>
        </div>
    </div>
</section>	<!-- Why CHoose Us -->
