body{
	color: #444;
	background: #fff;
  font-size: 15px;
}
/*p{
  font-weight: 300;
}*/
ul,ol{
	padding-left: 0;
	list-style: none;
}
.form-control{
  border-radius: 0;
  border:1px solid #e6e6e6;
}
.form-control:focus{
  border:1px solid #ced4da !important;
  box-shadow: none;
}
label{
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}
#mission {
    background:#f1f1f1;
}
.section{
	padding: 50px 0;
}
.btn-primary{
	background: #4565b0;
    border-color: #4565b0;
    border-radius: 0;
    font-size: 13px;
    padding: 8px 20px;
}
.btn-primary:hover{
	background: #0c4ca3;
    border-color: #0c4ca3;
}
.btn{
	border-radius: 0;
}
.section-title {
    margin-bottom: 30px;
}
.fs-10{
	font-size: 10px;
}
.fs-15{
  font-size: 15px;
}
.fs-20{
	font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
	font-size: 30px;
}
.fs-35{
  font-size: 35px;
}
.fs-40{
	font-size: 40px;
}
.fs-45{
  font-size: 45px;
}
.fs-50{
	font-size: 50px;
}
/*back to top icon*/
.fixed-icon-btn {
  cursor: pointer;
  position: fixed;
  /*bottom: 80px;
  right: 30px;*/
  bottom:80px;
  right: 29px;
  /*display:none;*/
	background: #ccc;
	color: #4565b0;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 7px;
	border-radius: 100%;
}
.fixed-icon-btn:hover{
	background: #4565b0;
	color: #fff;
}
.fixed-icon-btn{
  
}
#mble-message {
  display: block;
}
a#back-to-top {
  bottom: 125px;
}

/*header*/
header{
	background: #fff;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 16;
	-webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
  border-bottom: 1px solid #eaeaea;
}
/*header.header-fixed-top {
    border-bottom: 1px solid #eaeaea;
}*/
#logo {
    padding: 16px 0;
}
header #logo img{
  width: 100%;
}
header.header-fixed-top #logo {
  padding:10px 0;
}
header.header-fixed-top #logo img{
  width: 70%;
  -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
  font-size: 16px;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  /*border-style: solid;
  border-color: rgba(0, 0, 0, .05);*/
}

#menu li, 
#toggle-menu {
  /*border-width: 0 0 1px;*/
}
.sub-menu li a span.drop-icon {
    float: right;
}


#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: #333;
  /*text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);*/
}
#toggle-menu {
    top: 30px;
    border: 1px solid #333;
    padding: 2px 12px !important;
    font-size: 20px;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -o-transition: 0.6s all;
}
header.header-fixed-top #toggle-menu{
  top:15px;
}
#menu, 
#toggle-menu {
  /*background-color: #09c;*/
}

#toggle-menu, 
#menu a {
  padding: 0.2em 1.5em;
}
#menu a{
  padding:.8em 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
  text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

#menu a:hover, #menu a.active {
     color: #2f4fa2;
    text-decoration: none;
}

#menu .sub-menu {
  display: none;
  padding-top: 10px;
  background-color: #3b5db5;
}
#menu .sub-menu .sub-menu{
	padding-top: 0;
    margin-left: 5px;
}
#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}
.sub-menu li a {
    padding: 8px 10px 8px 20px !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
    color: #656565 !important;
    font-weight: normal !important;;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 5px;
  /*top: 5px;*/
  cursor: pointer;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  /*border-radius: 50%;*/
  width: 30px;
  height: 20px;
  text-align: right;
  padding-right: 7px;
  /*background-color: rgba(0, 0, 0, .125);*/
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
  font-size: 15px;
}

#menu .drop-icon {
  line-height: 1;
}

/*@media only screen and (max-width: 1024px) and (min-width: 992px) {
  #menu li {
    width: 33.333%;
  }

  #menu .sub-menu li {
    width: auto;
  }
}*/

@media only screen and (min-width: 992px) {
  #menu .main-menu {
    display: block;
  }
	#menu .sub-menu a:hover {
    color: #2f4fa2 !important;
    background: #f3f3f3;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    /*border-width: 0 1px 0 0;*/
  }
	#menu a {
	  padding: 40px 15px;
	}
  header.header-fixed-top #menu a {
    padding: 25px 15px;
  }
  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 101%;
    left: 0;
    width: 210px;
    z-index: 3000;
    background-color: #e8e8e8;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu span.drop-icon {
    transform: rotate(-90deg);
	}

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }


  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}
@media only screen and (max-width: 992px){
  #toggle-menu{
    cursor: pointer;
  }
	nav#menu {
	    position: relative;
	}
	#menu .main-menu {
	    position: absolute;
	    top: 99px;
	    background-color: #2f4fa2;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    min-width:250px;
	    right: 0;
    	/*text-align: right;*/
	}
  header.header-fixed-top #menu .main-menu {
    top:66px;
  }
  #menu .sub-menu{
      padding-top: 0;
  }
	#menu a, .sub-menu li a{
		color: #cecece !important;
	}
  #menu .sub-menu .sub-menu a {
    color: #e8e8e8 !important;
  }
  .sub-menu li a{
      text-transform: uppercase !important;
      font-size: 11px !important;
  }
	#menu a:hover, #menu a.active {
	    color: #fff !important;
	    text-decoration: none;
	}
    .sub-menu li a:hover{
        background: none !important; 
        color: #fff !important;
    }
    #menu .sub-menu .sub-menu{
        background: #466bca;
        margin-left: 0;
    }
}
@media only screen and (max-width: 575px) {
  #menu .main-menu {
    right: -15px;
  }
}

.breadcrumb{
	margin-bottom: 0;
  padding:30px 0;
  background-color: #eee;
}
.breadcrumb h2{
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #6f6f6f;
}
.body-content {
    background: #fff;
    margin-top:99px;
    overflow: hidden;
    /*margin-bottom: 257px;*/
}

/*Intro*/
#intro{
	background: #f1f1f1;
	padding: 80px 0;
}
#intro .section-title h2{
	font-weight: 900;
	margin-bottom: :80px;
}
#intro .section-title small, #request-quote small {
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.intro-content p{
	font-size: 1.12rem;
    margin-bottom: 30px;
}

/*services*/
#services {
    background: #f1f1f1;
    padding-top: 0;
}
#services .section-title.text-center {
    margin-bottom: 40px;
}
#services .service-blocks {
    background: #fff;
    padding: 0 0 40px;
}
#services .card{
	min-height: 300px;
}
#services .card:hover{
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.18);
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
#services .card-body .fa {
    /* border: 1px solid #333; */
    border-radius: 100%;
    padding: 22px 20px;
    height: 85px;
    width: 85px;
    vertical-align: middle;
    text-align: center;
    color: #4565b0;
}
#services .card-body .fa:hover{
	background: #4565b0;
	color: #fff;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.services-details-page #services {
    /*background: none;*/
    padding: 50px 0;
}

/*request-quote*/
/*#request-quote{
  padding:0;
}*/
#request-quote, .services-transparent-bg{
  background-color: #4565b0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding:30px 0;
  color: #fff;
}
#request-quote:before, .services-transparent-bg:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(86, 86, 86, 0.9);
  left: 0;
  top: 0;
}
#request-quote:before{
  background: rgba(53, 83, 154, .85);
}
#request-quote{
  background-image: url(../img/quote.jpg);
}
.services-web-design{
   background-image: url(../img/web-design-bg.jpg) !important;
}
.services-web-dev{
   background-image: url(../img/web-develop-bg.jpg) !important;
}
.services-mobile-app{
   background-image: url(../img/mobile-app-bg.jpg) !important;
}
.services-software-dev{
   background-image: url(../img/software-dev-bg.jpg) !important;
}
.services-seo{
   background-image: url(../img/seo-bg.jpg) !important;
}
.services-domain-host{
   background-image: url(../img/domain-hosting-bg.jpg) !important;
}
.services-social-media{
   background-image: url(../img/social-media-marketing-bg.jpg) !important;
}
.services-transparent-bg .about-figure img{
  border-radius: 10px;
}
#request-quote h5{
  color: #fff;
  font-size: 45px;
  line-height: 47px;
}
#request-quote small, #request-quote p{
  color: #d4d4d4;
}
.request-quote-btn .fa{
  margin-left: 4px;
}
.request-quote-btn .btn{
  background: #1e4380;
}

/*Recent Works*/
#portfolio .card {
	border-radius: 0;
	overflow: hidden;
}
#portfolio .card .card-img-overlay{
	background: rgba(0,0,0,.8);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#portfolio .card .card-img-overlay a i.fa{
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 15px;
    color: #fff;
}
#portfolio .card .card-img-overlay a i.fa:hover{
	background: #fff;
	color: #0c4ca3;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#portfolio .card:hover .card-img-overlay{
	opacity: 1;
	transform: scale(1);
}
#portfolio .card:hover img{
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.portfolio-more{
	width: 100%;
}
/*.our-mission, .why-choose-us-wrap, #service-process-wrap, .contact-details-wrap {
    overflow: hidden;
}*/
.our-mission .section-title {
    margin-bottom: 80px;
}
.our-mission-list .list-icon i.fa{
	width: 40px;
    height: 55px;
    border-radius: 100%;
    color: #0c4ca3;
    border-color: #0c4ca3;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
.our-mission-list ul li{
  display: inline-flex;
}
/*Footer*/
footer{
	background: #58585A;
	color: #fff;
}
.footer-top{
	padding: 30px 0;
}
footer h3 {
    font-size: 15px;
    /* font-weight: normal; */
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.company-logo {
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

footer ul{
	padding-left: 0;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #fff;
	text-decoration: underline;
}
/*.footer-menu ul li, .footer-social ul li{
	list-style: none;
	display: inline-block;
}*/
.footer-menu ul li a{
	color: #fff;
}
.footer-menu ul li a:hover{
	text-decoration: underline;
}
.company-services a {
    display: block;
}
.footer-social ul li{
	/*margin:0 4px;*/
	background: #ccc;
    margin-bottom: 5px;
    display: block;
    border-radius: 40px;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-social li a {
    color: #333;
    display: block;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-social ul li i.fa {
    width: 45px;
    height: 45px;
    /*border-radius: 100%;*/
    padding: 13px 10px 10px 15px;
    /*color: #fff;*/
    font-size: 20px;
    border-width: 0;
    text-align: center;
    /*border-right: 1px solid #fff;*/
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position: relative;
}
.footer-social ul li i.fa:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 25px;
    right: 0;
    background: #a9a9a9;
    top: 10px;
}
.footer-social ul li:hover a{
	color: #fff;
	text-decoration: none;
}
.footer-social ul li:hover i.fa:after{
	background: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer-social ul li a span {
    padding-left: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-social ul li.social-fb:hover {
    background: #475993;
    border-color: #475993;
}
.footer-social ul li.social-twt:hover{
	background: #76A9EA;
	border-color: #76A9EA;
}
.footer-social ul li.social-insta:hover{
	background: #444444;
	border-color: #444444;
}
.footer-social ul li.social-yt:hover{
	background: #F61C0D;
	border-color: #F61C0D;
}
.copy-right-text a{
	color: #fff;
}
.copy-right-text p {
    margin-bottom: 0;
}
.footer-bottom {
    background: #525252;
    padding: 20px 0;
}
/*About*/
.about-content ul{
  list-style: disc;
  /*padding-left: 40px;*/
  margin-top:30px;
}
.about-content ul li{
  /*margin-bottom: 10px;*/
  display: inline-flex;
}
.about-content ul li .list-icon{
  margin-top: 3px;
}
.about-content ul li .list-bg-wrap {
    display: inline-flex;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 20px;
    min-height: 150px;
}
.about-content h3{
  font-size: 20px;
  font-weight: 700;
}
/*contact page*/
address, .footer-fax, .footer-phone,
address p, .footer-fax p, .footer-phone p {
  font-size: 18px;
  font-weight: 400;
  color: #797979;
  margin:0;
}
address .fa, .footer-fax .fa, .footer-phone .fa {
  border-radius: 100%;
  color: #ccc;
  font-size: 18px;
  height: 50px;
  padding: 15px;
  width: 50px;
  border-color:#c7c7c7;
}

/*About US*/
.why-choose-us .list-icon i.fa{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    color: #0c4ca3;
    border-color: #0c4ca3;
}

/*Services Details Page*/
#services-include-list{
	background: rgba(232, 232, 232, 0.9);
}
.services-include-list li {
    /*float: left;
    width: 30.33%;
    margin: 0 10px;*/
    font-size: 20px;
    line-height: 40px;
}
.services-include-list li i.fa{
	margin-right: 7px;
}
#request-quote.white-bg-quote{
	background-image: none;
}
#request-quote.white-bg-quote:before{
	background: #fff;
}
.services-details-page #request-quote p{
	/*color: #444;*/
}

/*Services Process*/
#service-process {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#service-process:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #4565b0;
  left: 50%;
  top: 0;
  position: absolute;
}
#service-process:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#service-process .service-process-item {
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  width: 100%;
}
#service-process .service-process-item .service-process-icon {
  background: #4565b0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
#service-process .service-process-item .service-process-icon i {
	position: relative;
	top: 13px;
	left: 0;
	color: #fff;
	font-size: 22px;
}
#service-process .service-process-item .service-process-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#service-process .service-process-item .service-process-content h4 {
  padding: 15px 20px;
  background: #4565b0;
  color: #fff;
  text-transform: uppercase;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  border-radius: 0;
  letter-spacing: 3px;
}
#service-process .service-process-item .service-process-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #4565b0;
}
.service-process-content p {
    margin-bottom: 0;
    padding-top: 20px;
}
#service-process .service-process-item .service-process-content.right {
  float: right;
}
#service-process .service-process-item .service-process-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #4565b0;
}
/*Quote Page*/
section#quote-form{
  /*background: #f7f7f7;*/
}
form.quote-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.quote-form .form-group{
  margin-bottom: 10px;
}
.quote-form-block, .contact-form-wrap, .contact-address {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}
.quote-form-block h3, .contact-details-wrap h4 {
  font-size: 17px;
  /* text-transform: uppercase; */
  font-weight: 700;
  /* letter-spacing: 1px; */
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 15px;
  color: #757575;
}
form.quote-form  .form-control{
  border-radius: 0;
  border-color:#fff;
}

/*Credit Card payment*/


/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

/* Login page */
.login-left {
    padding: 70px 0;
}
.login-left small{
  letter-spacing: 5px;
}
.login-left h2{
  font-weight: 900;
}
.login-form {
    background: #efefef;
    padding: 20px 30px;
    border-radius: 10px;
}
.login-form h3{
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #757575;
}
.contact-map{
  height: 205px;
  border: 1px solid #dadada;
  border-radius: 10px;
  margin-top:30px;
}
.contact-map iframe{
  border-radius: 10px;
}
.round #tawkchat-status-text-container{
  height: 40px !important;
  width: 40px !important;
}
.round #tawkchat-status-icon:before{
  font-size: 18px !important;
}
/*Media Query*/
@media screen and (max-width: 1200px){

}
@media screen and (min-width: 992px){
	/*.navbar-expand-lg .navbar-nav .nav-link{
		padding:40px 15px;
	}*/
}

@media screen and (max-width: 991px){
	/*.navbar-nav .dropdown-menu{
		text-align: right;
		background-color: #2f4fa2;
		border: none;
		border-radius: 0;
	}
	header .navbar-nav .nav-link{
		font-size: 14px;
	}*/
	/*header.header-fixed-top .navbar-nav .nav-link{
		padding:10px 15px;
	}
	.navbar-nav .dropdown-menu .dropdown-menu {
	    background: #213a7b;
	}
	.dropdown-submenu a::after {
	    transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	}
	.dropdown-item{
		padding-right: 1rem;
		color: #c7c7c7;
	}
	.dropdown-item:focus, .dropdown-item:hover {
	    color: #fff;
	    background-color: transparent;
	}
	.navbar-light .navbar-nav .nav-link{
		color: #c7c7c7;
		padding-right: 15px;
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
		color: #fff;
	}*/
	#gaurikcarousel{
		/*z-index: 0;*/
	}
	#portfolio .card .card-img-overlay{
		padding: 10px;
	}
	#portfolio .card .card-title{
		margin-bottom: 4px;
		font-size:18px;
	}
	#portfolio .card  .card-text{
		font-size: 13px;
    	margin-bottom: 10px;
	}
	#portfolio .card .card-img-overlay a i.fa {
	    width: 25px;
	    height: 25px;
	    padding: 5px;
	    font-size: 14px;
	}
	.navbar-nav{
		text-align: right;
	}
	header .navbar-nav .nav-link{
		padding-right: 0 !important;
	}
	#navbarNav{
		position: absolute;
		right: 0;
		top: 95px;
		min-width: 200px;
		z-index: 5;
		background: #4463b4;
		padding-right: 20px;
		padding-top:10px;
		padding-bottom: 10px;
	}
	header .navbar-nav li:last-child a.nav-link{
		padding-right: 15px !important;
	}
	.header.header-fixed-top #navbarNav{
		top:72px;
	}
	.navbar-light .navbar-toggler{
		border-color: #000;
		border-radius: 0;
		color: #000;
	}
	#intro .section-title h2{
		font-size: 40px;
	}
  /*.fixed-icon-btn{
    bottom:75px;
    right: 25px;
  }
	#mble-message {
    display: block;
  }
	a#back-to-top {
    bottom: 125px;
  }*/

	#service-process {
		margin: 30px;
		padding: 0px;
		width: 90%;
	}
	#service-process:before {
		left: 0;
	}
	#service-process .service-process-item .service-process-content {
		width: 90%;
		float: right;
	}
	#service-process .service-process-item .service-process-content:before, #service-process .service-process-item .service-process-content.right:before {
		left: 10%;
		margin-left: -6px;
		border-left: 0;
		border-right: 7px solid #4565b0;
	}
	#service-process .service-process-item .service-process-icon {
		left: 0;
	}
	.footer-social li a{
		font-size: 12px;
	}
  .login-left{
    display: none;
  }
  .quote-form-right.quote-form-block{
    margin-top:20px;
  }
  .contact-form-wrap{
    margin-top:20px;
  }
  .footer-social ul li a span {
    width: 90px;
    display: inline-block;
    text-align: left;
  }
}
@media screen and (max-width: 768px){
	
}
@media screen and (max-width: 767px){
	.contact-form-wrap{
		margin-top: 30px;
	}
	.our-mission-list .list-icon i.fa{
		margin-bottom: 40px;
	}
	.footer{
		text-align: center;
	}
	.company-services {
	    margin: 25px 0;
	    border-top: 1px solid #6a6a6b;
	    border-bottom: 1px solid #6a6a6b;
	    padding: 25px 0;
	}
}
@media screen and (max-width: 576px){
	#portfolio .card .card-img-overlay {
	    padding: 70px 30px 10px;
	}
}

@media screen and (max-width: 480px){
	/*#navbarNav{
		right: -15px;
	}*/
	footer{
		padding-bottom: 0 !important;
		padding-top: 20px !important;
	}
	.footer-menu ul li a{
		padding: .5rem .2rem;
	}
	address .fa, .footer-fax .fa, .footer-phone .fa {
		font-size: 18px;
		height: 50px;
		padding: 15px;
		width: 50px;
	}
	address, .footer-fax, .footer-phone, address p, .footer-fax p, .footer-phone p{
		font-size: 16px;
	}
	.our-mission-list .list-icon i.fa{
		margin-bottom: 40px;
	}
	
}