﻿@model GaurikSystem.Models.BillPaymentCardDetailModel

@{
    ViewBag.Title = "Payment Success";
}
<section class="breadcrumb section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Payment Success</h2>
            </div>
        </div>
    </div>
</section><!-- Breadcrumb Area section End Here-->

