﻿
@{
    ViewBag.Title = "Login";
}

<!-- <section class="breadcrumb section aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title text-center text-uppercase">Login</h2>
            </div>
        </div>
    </div>
</section> --><!-- Breadcrumb Area section End Here-->

<div class="inner-main-content">
    <div class="container">

        <div class="row section justify-content-right" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-8 col-md-12">
                <div class="login-left">
                    <small class="fs-15 text-uppercase">One stop for your Internet Presence</small>
                    <h2 class="text-uppercase fs-35">Your website is your most powerful tool for communication</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="login-form">
                    <h3>login</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="UserName" name="UserName" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary text-uppercase mt-3">Submit</button>
                    }
                </div>
            </div>
        </div>


    </div>

</div><!-- inner-main-content -->
